#lib/config.js # The config file does not contain any sensitive information
https/*
!https/.gitkeep
.database/checks/*
.database/tests/*
.database/tokens/*
.database/users/*
!.database/**/.gitkeep
.logs/*
!.logs/.gitkeep